#map {
  width: 100%;
  border-radius: 20px;
  background-color: #eff2fb;
  overflow: hidden;
}
#go-back {
  position: absolute;
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  left: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  height: 3.5rem;
  outline: solid 0.1px rgba(0, 100, 0, 0.26);
  background-color: #eff2fb;
  margin-bottom: 15px;
}
.location-input:focus {
  outline: solid 0.1px rgb(0, 100, 0);
}
.location-input-sheet[aria-modal] {
  overflow: hidden;
}

[data-rsbs-content] {
  box-sizing: border-box;
  padding: 20px;
}
#location-item {
  width: 100%;
  height: 3rem;
  border-bottom: solid .5px #eff2fb;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#confirm-location-button {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: limegreen;
  margin-bottom: 20px;
  border-radius: 10px;
}
.cost-estimate {
  width: 100%;
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 10px;
}
.price-container {
  background-color: limegreen;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 15px;
}
.drop-off,
.pick-up {
  box-sizing: border-box;
  padding-bottom: 10px;
}
.location-span {
  padding: 30px;
  font-size: 16px;
  margin-top: 10px;
}
.action-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
#comfirm,
#decline {
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comfirm {
  width: 60%;
  background-color: limegreen;
}
#decline {
  width: 38%;
  background-color: red;
}
.waiting {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.rider-image{
  width: 6rem;
  height: 6rem;
  background-color: pink;
  border-radius: 10px;
}
